.bg-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-danger {
    background-color: #E10914;
}

.btn-danger:hover {
    background-color: tomato;
    border-color: tomato;
}

.btn-danger[disabled],
.btn-warning[disabled] {
    cursor: not-allowed;
}